body{
  margin-top: 7rem;
  margin-left: 35px;
  margin-right: 35px;
}
#about{
  background-color: rgb(190, 190, 186);
}
h5{
  font-weight: bold;
}
h6{
  font-weight: bold;
}

.title-s{
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}
